.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .imageCard {
    width: 100%;
    max-width: 100px;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  .imageCard.flipped {
    transform: scale(1.1);
  }
  
  