  .imageBoard{
    margin-top: 5%;
  }
  
  .row {
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;

  }
  
  .imageCard {
    width: 100%;
    max-width: 100px;
    height: 100px;
    cursor: pointer;
    object-fit: cover;
    margin: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
  }
  
  .imageCard:active{
    transform: rotateY(90deg);
    transition: all ease-in-out 0.3s;
  }