.spring{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: saturate(160%);
    scale: 0.85;
    border-radius: 50px;
    
    
      
}
.instructions{
    position: absolute;
    justify-content: center;
    backdrop-filter: contrast(20%);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width:60%;
    font-family: "Playpen Sans";
    color: black;
    font-size: 2vw;
    /* border-radius: 50px; */
}

.content{
    position: absolute;
    justify-content: center;
    margin-top: 500px;
    bottom: 10px;
    height: 25vh;
    width: 60%;
    backdrop-filter: contrast(30%);
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

.dialogue{
    position: relative;
    margin-top: 20px;
    margin-left: -80px;
    justify-content: center;
    max-width: 450px;
    color: black;
    font-weight:bolder;
    font-size: 2vw;
    font-family: "Josefin Sans";
    word-wrap: break-word;
}
