.nav{
    justify-content: flex-end;
}
.box{
    border-bottom: #ffffff
}
.logo{
    width: 5rem;
    height: 5rem;
}
.text_nav{
    text-align: left;
    color: #864DB3;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav_options {
    color: #ffffff;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav_options a:hover {
    color : #A2E2F6;
}