.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box2{
  background-color: #9bb8f2;
}
.text{
  width: 940px;
  height: 121px;
  text-align: right;
  color:#6592ed;
  font-family: ROG Fonts;
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.background-container{
  background-color: #e1caf1;
}